.footer {
  padding: 2.5em 0;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 4%;
    left: 0;

    width: 100px;
    height: 160px;

    background: url('../img/footer/decoLeft.png') center/cover no-repeat;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;

    width: 60px;
    height: 90px;

    background: url('../img/footer/decoRight.png') center/contain no-repeat;
  }

  a {
    text-decoration: none;
  }
  .h2 {
    padding-bottom: 1.5em;
  }

  &__title {
    text-align: center;
    padding-bottom: 1em;
  }

  .contact-badge {
    padding-top: 1em;

    &__item {
      padding-top: 1.5em;
    }

    &__map {
      padding: 1em 0em;

      iframe {
        padding: 1em 0em;
      }
    }

    &__path {
      color: $fontTitleColor;
      text-decoration: underline;
      cursor: pointer;
    }

    &__gift {
      margin-top: 3em;
    }
  }
}

@media (min-width: 1023px) {
  .footer {
    .container {
      width: 50%;
    }
  }
}
